body {
    height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
}

.headContainer {
    background-color: aqua;
}

.contentContainer {
    grid-row-start: 3;
    grid-row-end: 4;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

iframe {
    width: 100%;
    height: 100%;
}

.forRadio {
    margin: 4px 20px;
    display: inline;
}

.btnContainer {
    overflow-y: auto;
    height: 48px;
}

.cBtn {
    border-radius: 50%;
    min-width: 40px;
    width: 40px;
    height: 40px;
    touch-action: none;
}

.cBtn:hover {
    background-color: aqua;
}

.cBtn:active {
    background-color: white;
}